:root {
  font-size: 62.5%;

  --bg-color:  hsl(0, 0%, 100%);

  --font-color: hsl(240, 6%, 21%);

  --card-bg-color: linear-gradient(13deg, hsla(240, 9%, 89%, 1) 0%, hsl(0, 0%, 67%) 100%);
  --card-bg-clicked: linear-gradient(13deg, hsl(210, 67%, 64%) 0%, hsl(204, 64%, 44%) 100%);

  --controls-fill-color: hsl(0, 0%, 0%);
  --cards-fill-color: hsl(0, 0%, 0%);

  --thumb-color: hsl(31, 74%, 50%);
  --track-color: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  background: var(--bg-color);
}

.dark-mode {
  --bg-color: linear-gradient(133deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 13%) 100%);

  --font-color: hsl(0, 0%, 100%);
  --controls-fill-color: hsl(0, 0%, 100%);

  --card-bg-color: linear-gradient(13deg, hsla(240, 6%, 17%, 1) 0%, hsl(0, 0%, 38%) 100%);
  --cards-fill-color: hsl(240, 5%, 84%);
  --card-bg-clicked: linear-gradient(13deg, hsl(210, 29%, 24%) 0%, hsl(204, 64%, 44%) 100%);

  --thumb-color: hsl(31, 100%, 69%);
  --track-color: hsl(0, 0%, 100%);
}

.hide {
  display: none;
}

/* ====================== */

.toggle-light-dark {
  position: absolute;
  right: 0;
  top: 0;
  margin: 6.4rem 6.4rem 0 0;

  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  border-radius: 50px;
}

/* ====================== */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 82rem;
  width: 100%;
}

.timer {
  max-width: 32rem;
  margin-right: 19.2rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  font-size: 12.6rem;
  line-height: 14.8rem;
  text-transform: uppercase;
  color: var(--font-color);
}

.numbers {
  display: flex;
  height: 14.8rem;
  margin-bottom: 1.7rem;
  justify-content: center;
}

.controls {
  display: flex;
  gap: 4rem
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button svg path {
  fill: var(--controls-fill-color);
}

#pause svg ellipse,
#pause svg line {
  stroke: var(--controls-fill-color);
}

.sound-box {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;

  width: 30.8rem;
  height: 33.6rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;

  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  background: var(--card-bg-color);

  cursor: pointer;
  transition: transform .35s;
}

/* =========================== */

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 65%;
  height: .5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor:ew-resize;
  background: var(--track-color);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: var(--thumb-color);
}

/* =========================== */


.sound-box:hover > :not(:hover) {
  opacity: .4;
  transform: scale(.9);
}

.cards svg path {
  fill: var(--cards-fill-color);
}

.clicked {
  background: var(--card-bg-clicked);
  --cards-fill-color: hsl(0, 0%, 100%);
}